section .table thead{
	color:white;
	font-family: 'Signika', sans-serif;
	background: #0094FF;
	text-align:center;
}

section .table{
	font-family: 'Signika', sans-serif;
	font-size: 1.1em;
	margin-top: 3em;

}
section .table a{
	text-decoration:none;
	color:black;
}

section .table a:hover{
	text-decoration:underline;
	color: #0094FF;
}
