/* https://codepen.io/dhanushbadge/pen/olsvi */

html{
    height: 70%;
    
}
body{
	margin-top:0%;
	padding-left:11%;
	padding-right:11%;
	width:76%;
	height: 100%;
	
}

section{
	margin-top:11em;
	width:99%;
	height:100%;
	float: left;
}

.carousel{
	padding:0.2%;
	padding-right:0.2%;
	position:absolute;
	width:72%;
	height:70%;
	margin-left:2%;
}

.carousel .carousel-inner .carousel-item{
	position:inherit;
	width:100%;
	height:100%;
}
.carousel .carousel-inner{
	position:inherit;
	width:100%;
	height:100%;
}	 
.carousel .carousel-inner .carousel-item .carousel-caption{
	border:solid;
	color:white;
	font: bold 1em sans-serif;
}

.carousel .carousel-inner .carousel-item img{
	width:100%;
	height:100%;
	z-index:auto;
	border: 1px solid;
	
} 
 

/* 
section #home{
	width:100%;
	height:100%;
}

section #home .image-wrapper:first-child{
	display:block;	
}

section	#home .image-wrapper{
	display:none;
	margin-left:2.1%;
	padding:1px;
  	border:1px solid #021a40;
	width: 95%;
	height: 100%;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

section	#home .image-wrapper .image-info{
	background-color: white;
	width:13em;
	height:3.5em;
	color:black;
	position:absolute;
	margin-top: -4.8%;
	margin-left: 0.5%;
	margin-top: -4em;
	margin-left: 1em;
	border-radius:9%;
	font-family: cursive;
}

section	#home .image-wrapper .image-info h4{
	margin-bottom:1.5%;
	margin-top:1.5%;
	margin-left:2%;	
}

section #home .image-wrapper img{
	width:100%;
	height:100%;
}
 */