/* https://codepen.io/dhanushbadge/pen/olsvi */
footer{
	clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}

footer hr{
	width:100%;
	float:left;
	border-top: 4px double #8c8b8b;
	text-align: center;
}