section .materia{
	position: inherit;
	float:left;
	margin-top:4%;
}

.subject-image{
 	width:100%;
 	height:100%; 
}

.list-subjects{
	margin-top: 1%;
	margin-bottom:1%;
}

[data-toggle="collapse"] {
  cursor: pointer;
}
[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-right:before {
  content: "\f078";
}
