<!-- https://codepen.io/dhanushbadge/pen/olsvi -->
<nav class="dropdownmenu">
  <ul>
    <li><a href="#">Início</a></li>
    <li><a href="#">Disciplinas</a></li>
    <li><a href="#">Professores</a>
     
      <ul id="submenu">
        <li><a href="#">Difference between SVG vs. Canvas</a></li>
        <li><a href="#">New features in HTML5</a></li>
        <li><a href="#">Creating links to sections</a></li>
      </ul>
    
    </li>
    <li><a href="#">Aulas</a></li>
    <li><a href="#">Portal do Aluno</a></li>
  </ul>
</nav>